.aws/
.bash_logout
.bash_history
.Xauthority
.cache/
.config/cava/
.config/htop/
.config/neofetch/
.config/BraveSoftware/
.config/Vieb/
.config/balena-etcher-electron/
.config/coc/
.config/dconf/
.config/fontconfig/
.config/galculator/
.config/gtk-3.0/
.config/kcalcrc
.config/mimeapps.list
.config/nextjs-nodejs/
.config/nvim/plugged/
.config/pavucontrol.ini
.config/pulse/
.config/spotify/
.config/wall.png
.config/yarn/
.dbus/
.git_token
.gitconfig
.gnupg/
.gtkrc-2.0
.icons/
.lesshst
.local/
.npm/
.nvidia-settings-rc
.pki/
.pulse-cookie
.screenlayout/
.ssh/
.steam/
.steampath
.steampid
.vim/
.yarn/
.yarnrc
Development/
Downloads/
