.aws/
.bash_logout
.bash_history
.Xauthority
.cache/
.config/Code - OSS/
.config/GIMP/
.config/QtProject.conf
.config/SEGGER/
.config/Silicon Labs/
.config/SimplicityStudio/
.config/Thunar/
.config/inkscape/
.config/jgit/
.config/jxbrowser/
.config/kicad/
.config/xarchiver/
.config/xfce4/
.config/cava/
.config/htop/
.config/neofetch/
.config/BraveSoftware/
.config/Vieb/
.config/balena-etcher-electron/
.config/coc/
.config/dconf/
.config/fontconfig/
.config/galculator/
.config/gtk-3.0/
.config/kcalcrc
.config/mimeapps.list
.config/nextjs-nodejs/
.config/nvim/plugged/
.config/pavucontrol.ini
.config/pulse/
.config/spotify/
.config/wall.png
.config/yarn/
.dmrc
.eclipse/
.putty/
.screenrc
.swt/
.uc/
.vim_mru_files
.vim_runtime/
.vimrc
.vscode-oss/
.dbus/
.git_token
.gitconfig
.gnupg/
.gtkrc-2.0
.icons/
.lesshst
.local/
.npm/
.nvidia-settings-rc
.pki/
.pulse-cookie
.screenlayout/
.ssh/
.steam/
.steampath
.steampid
.vim/
.yarn/
.yarnrc
Development/
DE/
Downloads/
SimplicityStudio/
